/* Reset default body margin */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't affect element's size */
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

body {
  font-family: 'Arial', sans-serif; /* You can choose your font */
}
